#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    padding: 0px 40px;
    background-color: #f2f2f2;
    z-index:1;
}
#footer {
    position: fixed;/*absolute;*/
    bottom: 0px;
    left: 0px;
    height: 32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    padding: 0px 40px;
    background-color: #f2f2f2;
    z-index:1;

}

.PageLink {
    cursor: pointer;

    margin: 0px 18px;
    transition-duration: 300ms;
}

.PageLink:hover {
    color: #DDDDDD;
}
#main_title{
    position: relative;
    top:70px;
   /* margin-left:30%;
    */width:auto;/*
    margin-right:30%;*/ 
    text-align:center;
    margin-left: auto ;
  margin-right: auto ;

}
#body_paragraph{
    top:100px;
    position: relative;
    left:20%;
    width:60%;
}

button{
    cursor:pointer;
}