#copy_button{
    border:none;
    background-color:#f0f0f0;
    position: relative;
    left:20%;
    width:60%;
}
#copy_buttton:active{
    border:10px solid #C2F0C0;
}
#add_to_list{
    display:none;
    border:none;
    background-color:#f0f0f0;
    position: relative;
    left:20%;
    width:60%;
    margin-top:2%;
}